* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.big-container {
    width: 1350px;
    margin: 0 auto;
}

.structure-border {
    border: 2px dashed black;
}

header {
    height: 80px;
}

.main-nav {
    height: 50px;
    margin: 1rem;
    align-items: center;
}

.logo,
.start,
nav ul li {
    margin: .5rem;
}

header ul li {
    list-style-type: none;
    display: inline;
}

li>a {
    text-decoration: none;
    color: black;
}

.button-start {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: .8rem;
}

#jumbotron {
    background-color: #b4d0e7;
    height: 70vh;
    padding-top: 6rem;
}

.jumbo-content {
    background-color: orange;
    height: 100%;
}

.jumbo-content h1 {
    font-weight: 800;
    font-size: 60px;
}

section.plans-choice .container {
    background-color: darkolivegreen;
}

.radio {
    padding-top: 5rem;
}

.column {
    height: 640px;
    width: calc(100% / 3 - 2rem);
    margin-top: 3rem;
}

.full-width-column {
    width: 100%;
    height: 300px;
    margin-top: 3rem;
}

.partner {
    height: 500px;
    width: 100%;
    margin: 4rem 0;
}

section.business-features .columns {
    background-color: brown;
    padding-top: 4rem;
}

.discover-more {
    height: 160px;
    width: 100%;
    margin: 6rem 0;
}

.business-plan-partners {
    background-color: #b4d0e7;
}

.square-big {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
}

.company-logo {
    height: calc(100% / 2);
    width: calc(100% / 2);
}


.start-freetrial {
    height: 160px;
    margin: 6rem auto;
}

.faq {
    background-color: darkkhaki;
    height: 480px;
    margin: 6rem auto;
    line-height: 7.3rem;
}

footer {
    background-color: rgb(44, 5, 62);
    height: 500px;
}

.links {
    padding-top: 3rem;
}

.footer-column {
    height: 300px;
    width: calc(100% / 5 - 2rem);
}

.language {
    height: 70px;
    margin-top: 3.5rem;
}