* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.container {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.big-container {
    width: 1450px;
    margin: 0 auto;
}

.structure-border {
    border: 2px dashed black;
}

header {
    height: 80px;
    background-color: aqua;
    justify-content: space-between;
}

.main-nav {
    height: 47px;
    width: 400px;
    margin: 1rem;
}

.logo,
.start,
nav ul li {
    width: 100px;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

#jumbotron {
    background-color: #b4d0e7;
    height: 70vh;
}

.jumbo-content {
    background-color: orange;
    height: 100%;
    padding-top: 50px;
}

section.plans-choice .container {
    background-color: darkolivegreen;
}

.radio {
    padding-top: 5rem;
}

.column {
    height: 640px;
    width: calc(100% / 3 - 2rem);
    margin-top: 3rem;
}

.full-width-column {
    width: 100%;
    height: 300px;
    margin-top: 3rem;
}

.partner {
    height: 500px;
    width: 100%;
    margin: 4rem 0;
}

section.business-features .columns {
    background-color: brown;
    padding-top: 4rem;
}

.discover-more {
    height: 160px;
    width: 100%;
    margin: 6rem 0;
}

.business-plan-partners {
    background-color: #b4d0e7;
}

.square-big {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
}

.company-logo {
    height: calc(100% / 2);
    width: calc(100% / 2);
}


.start-freetrial {
    height: 160px;
    margin: 6rem auto;
}

.faq {
    background-color: darkkhaki;
    height: 480px;
    margin: 6rem auto;
    line-height: 7.3rem;
}

footer {
    background-color: rgb(44, 5, 62);
    height: 500px;
}

.links {
    padding-top: 3rem;
}

.footer-column {
    height: 300px;
    width: calc(100% / 5 - 2rem);
}

.language {
    height: 70px;
    margin-top: 3.5rem;
}